.navContainer{
    position: sticky;
    top:0;
    left:0;
    width: 100vw;
    height:10%;
    min-height: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;

}
.navTitle{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: auto;
    position: relative;
    color:white;
    font-weight: 800;
    font-size: 1.9rem;
    .accent{
        font-size: 2.2rem;
        color: #00faa7;
    }
    &::after{
        position: absolute;
        width: 100%;
        top:70%;
        z-index:-100;
        height: 2%;
        height:35%;
        background-color: #00faa7;
        animation: borderBottomSmooth 1.5s linear forwards;
        content: '';
    }
    .sloganTitle{
        opacity:0;
        margin: 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#064732;
        margin-left:10px;
        font-size: 0.8rem; 
        margin: 0 0;
        animation: show .2s 1.2s linear forwards;
        @keyframes show {
            from{
                transform: translateY(-1rem);
                opacity: 0
            }to{
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    @keyframes borderBottomSmooth {
        0% {
            background-color: #fa0075;
            width:0%;
            transform-origin: 100% 50%;
        }
        30% {
            background-color: #faf200;
            width:90%;
            transform-origin: 0% 100%;
        }
        100% {
            background-color: #00faa7;
            width:100%;
            transform-origin: 0% 100%;
        }
    }

}

.navItems{
    width:95%;
    height:95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navIcons{
    display: flex;
    width:50%;
    gap:4rem;
    height: 80%;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: center;
    animation: showNav 0.3s forwards linear;
    .navIconsElement{
        padding: 1rem;
        border: 1px solid transparent;
        border-radius: 10px;
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 50%;
        color: #ffffff;
    }
    .navIconsElementName{
        font-size: 0.8rem;
    }
    .navIconsElementIcon{
        font-size: 1.5rem;
    }
    @keyframes showNav {
        from{
            transform: translateY(-2rem);
            opacity: 0
        }to{
            transform: translateY(0);
            opacity: 1;
        }
    }
}
